/* Resetando documento */
/*Estilo geral  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #000;
    height: 100vh;

}

.interface {
    max-height: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #00ff08;
    border: 0;
    /* Deixa as bordas arredondadas */
    border-radius: 30px;
    /* permite ser clicavél como se fosse um link */
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    /* Colocando sombreado */
    box-shadow: 0px 0px 8px #00ff0868;
    transform: scale(1.05);


}

h2.titulo {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

/* Estilo do cabeçalho*/
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    /* Para dar zoom ele precisa ser convertido para! */
    display: inline-block;
    /* Deixando a trâsição mais suave */
    transition: 0.2s;
}

header a:hover {
    /* Ao passar o mause a cor vai ficar mais clara */
    color: #00ff08;
    /* Agora pra dar o zoom */
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;

}


/* Estilo topo-site */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    /* Aplicando espaçamento entre os elementos */
    gap: 90px;
}

.topo-site h1 {
    color: #fff;
    font-size: 55px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span {
    color: #00ff08;
}

.topo-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* Aplicando animaçoes css */
@keyframes flutuar {

    /*como minha imagem vai estar quando eu entrar no site  */
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo das especialidades */
section.Especialidades {
    padding: 40px 4%;
}

section.Especialidades .flex {
    gap: 50px;
}

.Especialidades .Especialidades-box {
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    /* border: 2px solid #fff;  */
    margin-top: 45px;
    transition: .2s;

}

.Especialidades .Especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.Especialidades .Especialidades-box i {
    font-size: 70px;
    color: #00ff08;
}

.Especialidades .Especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo do sobre */
section.sobre {
    padding: 80px 4%;

}

section.sobre .flex {
    align-items: center;
    gap: 40px;
}

.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    /* para jogar para linha de baixo no css usa-se o display block */
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}

/* Estilizando portfólio */

section.portifólio {
    padding: 80px 4%;
    /* Colocando sombreamento */
    box-shadow: 0 0 40px 10px #ffffff27;
}

section.portifólio .flex {
    justify-content: space-around;
    margin-top: 60px;

}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7d7d7d69;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    /* Trabalhando com opacidade */
    opacity: 0;
    transition: 0.5s;

}

.overlay:hover {
    opacity: 1;
}

/* Estilizando formulário de contato */
section.formulario {
    padding: 70px 4%;

}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* Deixando meus elementos em coluna */
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    /* Aumentando o espaço interno */
    padding: 20px 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

form textarea {
    /* Redimencionar o tamanho da minha caixa */
    resize: none;
    max-height: 500px;
}

form .btn-enviar {
    margin: 20px;
    text-align: center;

}

form .btn-enviar input {
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo rodapé */
footer {
    padding: 40px 4%;
    /* Colocando sombreamento */
    box-shadow: 0 0 40px 10px #ffffff27;
}

footer .flex {
    /* Coloca a logo de um lado e resde social do outro, essa propriedade só funciona com os elementos que possui display flex*/
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #00ff08;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* fazendo conversão de tamanho de tela, o que não modifica apaga */
@media screen and (max-width: 1020px) {

    /* alterando minhas classes gerais */
    .flex {
        /* Determina a direção que vai ficar os meus elementos, revertendo meus conteudos... a imagem vêm para cima e o texto para baixo */
        flex-direction: column-reverse;
    }

    h2.titulo {
        
        font-size: 34px;
        /* Unindo mais as linhas de texto */
        line-height: 30px;
        
    }


    /* cessão dedicada ao meu cabeçalho */
    .menu-desktop,
    .btn-contato {
        /* meu menu vai desaparecer quando estiver o tamanho de 1020px */
        display: none;
    }

    /* topo do site */

    /* Estilo topo-site */
    section.topo-site {
        padding: 20px 8%;
    }

    .topo-site h1 {
        /* color: #fff; */
        font-size: 30px;
        /* line-height: 40px; */
    }

    .topo-site .img-topo-site img {
        width: 100%;
    }

    section.topo-site .flex {

        /* Aplicando espaçamento entre os elementos */
        gap: 40px;
    }

    /* Estilo das especialidades */
    section.Especialidades {
        padding: 40px 8%;
    }

    /* Estilo do sobre */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
       text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre{
        width: 100%;
    }

    /* Estilizando portfolio */
    section.portifólio {
        padding: 80px 8%;
      
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
       
    }

    section.portifólio .flex {
       gap: 10px;
       
    
    }

    /* Estilizando rodapé */
    footer .flex {
       flex-direction: column;
       gap: 10px;
    }

    footer .line-footer {
       text-align: center;
    
    }

}