* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #000;
    height: 100vh;

}

.interface {
    max-height: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex; 
}

h1{
    color: #fff;
}

h1 span{
    color: #00ff08;
}